.border1 {
    background-color: white;
    align-content: center;
}

.border2 {
    background-color: black;
    align-content: center;
    color: white;
}

.A1 {
    color: white;
}

.A2 {
    color: white;
}